$brand-primary:  rgb(64, 224, 208);
$brand-secondary: rgb(159, 80, 184);

$white: rgb(240, 240, 240);
$black: rgb(35, 35, 35);
$gray: rgb(215, 215, 215);

@mixin BasicCard($borders: true) {
  // Dimensiones
  margin: 10px;
  padding: 10px;
  
  //  Layout
  display: flex;
  flex-direction: column;
  
  // Styling
  @if ($borders) {
    border-radius: 5px;
  }
  background-color: $white;
  box-shadow: 0px 7px 20px transparentize($black, 0.4);
  
  // Other
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}