@import '_mixins';
@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('./others/weather-icons.css');

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  background: linear-gradient($brand-primary, $brand-secondary);
}

#app {
  perspective: 1000px;
  min-height: 100%;
  width: 100%;
  padding: 15px;
  font-family: 'Roboto'
}
