@import "_mixins";

button.button {

  color: $black;
  background-color: transparent;

  font-weight: bold;
  
  padding: .5rem;
  font-size: 1rem;

  border: none;
  border-radius: 0.3rem;

  text-transform: uppercase;

  transition: background-color 200ms ease-out;

  &:hover, &:active, &:focus {
    background-color: $gray;
  }

  &:disabled, &hover {
    background-color: $white;
    color: $gray;
  }
}