@import '_mixins';

@mixin justifyContent() {
  $prefix: 'justify-content-';

  &.#{$prefix}flex-start {
    justify-content: flex-start;
  }
  &.#{$prefix}flex-end {
    justify-content: flex-end;
  }
  &.#{$prefix}center {
    justify-content: center;
  }
  &.#{$prefix}space-between {
    justify-content: space-between;
  }
  &.#{$prefix}space-around {
    justify-content: space-around;
  }
}

@mixin alignItems() {
  $prefix: 'align-items-';

  &.#{$prefix}flex-start {
    align-items: flex-start;
  }
  &.#{$prefix}flex-end {
    align-items: flex-end;
  }
  &.#{$prefix}center {
    align-items: center;
  }
  &.#{$prefix}baseline {
    align-items: baseline;
  }
  &.#{$prefix}stretch {
    align-items: stretch;
  }
}

@mixin fillers() {
  &.fill-height {
    height: 100%;
  }
  &.fill-width {
    width: 100%;
  }
}

section.row {
  display: flex;
  flex-direction: row;
  @include fillers();
  @include justifyContent();
  @include alignItems();
}

section.column {
  display: flex;
  flex-direction: column;
  @include fillers();
  @include justifyContent();
  @include alignItems();
}
