@import "_mixins";

section.weather-card {
  @include BasicCard(false);

  background-color: transparent;
  border-radius: 5px;
  padding: 0;

  // Default
  width: 24rem;

  section.weather {
    $color:  hsl(random(360), 70, 60);

    min-height: 24rem;
    border-radius: 5px 5px 0 0;
    
    padding: 1rem;

    background: linear-gradient($brand-primary, $brand-secondary);

    font-weight: bold;
    color: $white;

    section.before-icon {
      padding-top: 1.5rem;
      h1 {
        font-size: 2.5rem;
      }
    }

    .wi {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 10rem;
    }

    section.after-icon {
      font-size: 1.5rem;
      >* {
        &:not(:first-child) {
          padding-top: 0.5rem;
        }
      }
      >h1 {
        font-size: 1.5rem;
      }
      >h2 {
        font-size: 1.25rem;
      }
      >h3 {
        font-size: 1rem;
      }
      .temperature {
        border-right: 0.25rem solid $white;
        padding-right: 0.5rem;
      }
      .clock {
        padding-left: 0.5rem;
      }
    }
  }

  section.content {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background-color: $white;
  }
}